<ul class="nav nav-tabs m-3">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      data-bs-toggle="dropdown"
      href="#"
      role="button"
      aria-expanded="false"
      >Moda</a
    >
    <ul class="dropdown-menu">
      <li><a class="dropdown-item">Hombre</a></li>
      <li><a class="dropdown-item" href="#">Mujer</a></li>
      <li><a class="dropdown-item" href="#">Niñx</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contacto</a>
  </li>
</ul>
